@import "../../setting";
.wrap-board-content {
  display: flex;
  .board-columns {
    display: flex;
    margin: 0 $gap $gap 0;
    gap: 10px;
    overflow-x: auto;
    .smooth-dnd-container {
      display: flex;
      flex-direction: column;
    }
    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $list-bg-color;
      border: 5px solid $list-bg-color;
      border-radius: 5px;
      background-clip: padding-box;
    }
    .column-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }
  }
}
